body{
    margin:0;
    background:#071330;
    color:#f5f8f8;
    font-family:Arial, sans-serif;
}

/* Layout */
.container{
    display:flex;
}

/* Sidebar */
.sidebar{
    width:280px;
    min-height:100vh;
    padding:20px;
    background:#071330;
}

.sidebar a{
    text-decoration:none;
    color:white;
}

/* Sidebar Buttons */
.icon-box{
    width:200px;
    height:50px;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:15px;
    color:white;
    box-shadow:0 4px 15px rgba(109,93,252,0.4);
    transition:0.3s;
    margin-bottom: 20px;
}
.white{
    background:#31d55d;
}

.orange{
    background:#07a9e9;
}

.red{
    background:red;
}

.pink{
    background:rgb(161,95,106);
}

.blue{
    background:blue;
}

.blueviolet{
    background:blueviolet;
}

/* Main Content */
.main-content{
    flex:1;
    padding:20px;
}

/* Top Bar */
.top-bar{
    display:flex;
    justify-content:space-between;
    cursor:pointer;
    align-items:center;
    background:#162447;
    padding:15px;
    border-radius:10px;
    margin-bottom:20px;
}

.search-bar{
    width:300px;
    height:40px;
    border:none;
    border-radius:8px;
    padding-left:10px;
}

.search{
    height:40px;
    width:100px;
    border:none;
    border-radius:8px;
    background:#8B5CF6;
    color:white;
    cursor:pointer;
}

.user-section{
    display:flex;
    align-items:center;
    color:white;
    font-weight:bold;

}

/* Statistics Cards */
.content{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-top:40px;
}

.card{
    width:170px;
    height:180px;
    background:#162447;
    border-radius:15px;
    padding:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.4);
    transition:0.3s;
    margin-right: 15px;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    margin-bottom:10px;
}

.card h4{
    color:white;
    font-size:14px;
    margin:10px 0;
}

.card h2{
    color:white;
    font-size:32px;
    margin:10px 0;
}

.card p{
    color:#9ca3af;
    font-size:12px;
}


/* Progress Section */
.progress-section {
display:flex;
justify-content: space-between;
align-items: flex-start;
gap: 10px;
}
/* Progress Section */
.progresschart {
    height: 400px;
    width: 1000px;
    margin-top: 30px;
    background: #071330;
    border: 2px solid #364716;   /* ✅ border only here */
    border-radius: 15px;
    padding: 20px;

}

.progresschart h1 {
    text-align: left;
    color: white;
}

/* Progress Cards Container */
.staticalcards{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-top:20px;
}

/* Individual Progress Card */
.chart{
    width:180px;
    min-height:220px;
    background:#162447;
    border-radius:15px;
    padding:20px;
    text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,0.4);
    transition:0.3s;


}
#resume{
    border:2px solid red;
}
#mock{
    border:2px solid orange;
}
#dsa{
    border:2px solid rgb(34, 233, 34);
}

.chart img{
    height:40px;
    width: 40px;
    background-color: white;
    border: 10px;
    border-radius:20%;
    margin-right: 1000px;

}

.chart:hover{
    transform:translateY(-5px);
}

.chart h3{
    color:rgb(241, 243, 245);
    margin-bottom:15px;
}
.achievements{
    width:500px;
    height: 400px;
    background:#162447;
    border-radius:15px;
    padding:20px;
    margin-top:30px;
    box-shadow:0 4px 15px rgba(0,0,0,0.4);
}

.achievements h2{
    color:white;
    text-align:center;
    margin-bottom:20px;
}

.achievement-item {
    height: 50px;
    width: 10;               /* fits inside achievements box */
    background: #1f2f5c;
    color: white;
    padding: 12px;
    margin: 10px 0;
    display: flex;             /* enables flex alignment */
    align-items: center;       /* vertical centering */
    justify-content:left;   /* horizontal centering */
    border-radius: 10px;
    box-shadow: #31d55d;
    box-shadow:0 4px 15px rgba(51, 242, 8, 0.4);
    font-size: 14px;
    transition: 3s;
}

